<hi>Hello! it"s <%= @year %></h1>

  <h1>Users Index</h1>

  <h1>User</h1>

  

  <ol>
    <% @users.each do |user| %>
    <li><%= user.name %>
      <% end %>
    <!-- <li>User 1</li>
    <li>User 2</li> -->
  </ol>
